* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./todoBg.jpg);
}

.container {
    height: 100vh;
    min-height: 500px;
    width: auto;
    position: relative;
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 10px;
    text-decoration: underline;
    font-size: 2rem;
    border-radius: 0px 40px;
}


.parbox {
    height: auto;
    background: rgba(33, 13, 105, 0.312);
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    border-radius: 0px 40px;
}

.right {
    margin: 5px;
    padding: 10px;
    border-radius: 0px 40px;
    height: auto;
    width: auto;
    border: 2px solid white;
    text-align: center;
}

.input {
    border-radius: 0px 40px;
}

#inputText {
    background: transparent;
    width: 90%;
    padding: 2.5px;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid white;
    color: wheat;
}

#btn {
    transition-duration: 0.25s;
    width: auto;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: rgba(68, 245, 194, 0.93);
    padding: 7px 20px;
    font-size: 1rem;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px;
    cursor: pointer;
}

#btn:hover {
    background-color: rgba(68, 245, 194, 0.93);
    color: #13111384;
    font-style: normal;
}

hr {
    margin-top: 5px;
    border: 1px solid black;
}

::placeholder {
    color: wheat;
}

#list-container {
    text-align: start;
    margin: 1.5rem;
    gap: 5;
}

.taskList {
    list-style-type: none;
}

ul li {
    color: whitesmoke;
    font-size: 17px;
    padding: 1px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    color: aqua;
    content: "";
    top: -5px;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    left: 5px;
}

ul li.checked {
    color: #110707;
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 0;
    top: -5px;
    width: 28px;
    height: 28px;
    font-size: 17px;
    color: #555;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    background-color: black;
}

ul li span:hover {
    background: #edeeed;
}


@media screen and (max-width: 600px) {
    .container {
        background-color: aliceblue;
    }

    .parbox {
        background: rgba(33, 13, 105, 0.312);
        top: 5%;
        left: 10%;
        right: 10%;
        border-radius: 0px 40px;
    }

    ul li {
        font-size: 17px;
        padding: 1px 3px 5px 10px;
    }

    ul li span {


        top: 5px;
        width: 18px;
        height: 18px;
        font-size: 17px;
        line-height: 18px;
        text-align: center;
    }

    #inputText {
        font-size: 1rem;
    }
}
